
<div class = "main_left">
    <h2>What is InstantQ?</h2>
    <p> InstantQ is a platform that allows users to post general questions and answers. Questions will disappear automatically after 5 minutes.
    </p>
    <h3>Team Cutthroat Cohort</h3>
        <ul>
          <li>Karan Anil Kumar</li>
          <li>Albert Huynh</li>
          <li>Henry Le</li>
          <li>Sarah Lee</li>
          <li>Yuri Van Steenburg</li>
        </ul>


</div> <!-- close main_left -->
